{% extends is_sub_request ? 'subrequest.html.twig' : 'base.html.twig' %}
{% import 'macros/wiki.html.twig' as wiki %}

{% block body %}

{% if not is_sub_request %}
    <div class="panel panel-primary">
        <header class="panel-heading">
            <div class="text-center xt-heading-top">
                <a class="back-to-search" href="{{ path('ec') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ msg('back') }}
                </a>
                {{ wiki.userLink(user, project) }}
                <small> &bull; {{ project.title }} </small>
            </div>
        </header>
        <div class="panel-body xt-panel-body">
            <section class="panel panel-default clearfix">
                <header class="panel-heading col-lg-12">
                    <h4>{{ msg('month-counts') }}</h4>
                </header>
                <div class="panel-body col-lg-12">
{% endif %}

{% if not project.userHasOptedIn(user) %}
    <div class="alert alert-info">
        <p>{{ msg('not-opted-in', [ wiki.pageLink(opted_in_page) ] ) }}</p>
    </div>
{% else %}

<script type="text/javascript">
    {% set numMonths = 0 %}
    $(function() {
        var datasets = [];
        {% for ns_id,dataset in ec.monthCounts.totals %}
            var dataset = {
                label: "{{ nsName(ns_id, project.namespaces) }}",
                backgroundColor: "{{ color(ns_id) }}",
                data: [],
            };

            {% set numMonths = 0 %}
            {% for year in ec.monthCounts.min_year .. "now"|date("Y") %}
                {% set startMonth = year == ec.monthCounts.min_year ? ec.monthCounts.min_month : 1 %}
                {% set endMonth = year == "now"|date("Y") ? "now"|date("m") : 12 %}
                {%- for month in startMonth..endMonth -%}
                    dataset.data.push({{- attribute(dataset, year~month) -}});
                    {% set numMonths = numMonths + 1 %}
                {%- endfor -%}
            {%- endfor -%}

            datasets.push(dataset);
        {% endfor %}

        window.chart = new Chart($("#monthcounts-bar-chart"), {
            type: 'horizontalBar',
            data: {
                labels: [
                    {%- for year in ec.monthCounts.min_year .. ec.monthCounts.max_year -%}
                        {% set startMonth = year == ec.monthCounts.min_year ? ec.monthCounts.min_month : 1 %}
                        {% set endMonth = year == "now"|date("Y") ? "now"|date("m") : 12 %}
                        {%- for month in startMonth..endMonth -%}
                            "{{ year }}/{{ '%02d'|format(month) }}"
                            {%- if not loop.last %},{% endif %}
                        {%- endfor -%}
                        {%- if not loop.last %},{% endif %}
                    {%- endfor -%}
                ],
                datasets: datasets
            },
            options: {
                tooltips: {
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        stacked: true
                    }],
                    xAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    });
</script>
{# 6 * number of months seems to be the magic equation for the height (minimum 50) #}
<canvas id="monthcounts-bar-chart" height="{{ max(6 * numMonths, 50) }}"></canvas>

{% endif %}

{% if not is_sub_request %}
    </div></section></div></div>
{% endif %}

{% endblock %}
